.yarn/cache
.yarn/install-state.gz
# It would not block these with the above
packages/demo_app/.yarn/cache
packages/demo_app/.yarn/install-state.gz

node_modules

*.env
.env.*
!.env.sample

.DS_Store

build
lib
