.imgdisplay {
  display: flex;
  flex-direction: row;
  background: radial-gradient(80% 40%, rgb(200, 45, 45), rgb(81, 28, 28));
  /* background-color: rebeccapurple; */
  padding: 10px;
  justify-content: space-evenly;

  div:first-of-type {
    border: solid #fefff3 2px;
    padding: 20px;
  }

  p {
    color: #fefff3;
  }

  img {
    width: 200px;
    height: auto;
  }
}

.bidimg {
  padding: 20px;
}
